/** FuturaMediumC **/
@font-face {
	font-family: 'FuturaMediumC';
	src: url('../fonts/futuramediumc/futuramediumc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futuramediumc/futuramediumc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futuramediumc/futuramediumc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futuramediumc/futuramediumc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futuramediumc/futuramediumc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futuramediumc/futuramediumc.svg#futuramediumc') format('svg'); /* Chrome < 4, Legacy iOS */
	font-weight: bold;
	font-style: normal;
}

/** FuturaDemiC **/
@font-face {
	font-family: 'FuturaDemiC';
	src: url('../fonts/futurademic/futurademic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futurademic/futurademic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futurademic/futurademic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futurademic/futurademic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futurademic/futurademic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futurademic/futurademic.svg#futurademic') format('svg'); /* Chrome < 4, Legacy iOS */
	font-weight: bold;
	font-style: normal;
}

/** FuturaBookC **/
@font-face {
	font-family: 'FuturaBookC';
	src: url('../fonts/futurabookc/futurabookc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futurabookc/futurabookc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futurabookc/futurabookc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futurabookc/futurabookc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futurabookc/futurabookc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futurabookc/futurabookc.svg#futurabookc') format('svg'); /* Chrome < 4, Legacy iOS */
	font-weight: normal;
	font-style: normal;
}